gsutil cp index.html gs://medini-static-site123
gsutil cp index.html gs://medini-static-site123
gsutil iam ch allUsers:objectViewer gs://medini-static-site123
https://storage.googleapis.com/medini-static-site123/index.html
